#article--list {
    display: flex;
    flex-direction: column;
    width: auto;
    text-align: center;
}

.article-box {
    border: solid 3px black;
    min-width: 45em;
    margin: 0.5em;
    align-self: center;
    border-radius: 8px;
}