#article--list {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.article-box {
    border: solid 3px black;
    min-width: 25em;
    max-width: 25em;
    max-height: 15em;
    min-height: 15em;
    margin: 0.5em;
    align-self: center;
    border-radius: 8px;
    background-color: white;
}

#articleCard {
    background-color: rgb(18, 9, 18);
}

#eventCard {
    background-color: rgb(62, 28, 51);
}

label {
    color: white; 
}

.main {
    display: flex;
    justify-content: center;
    margin: 2px;
}

.main2 {
    width: 50%;
    margin: 0px 2px 0px 0px;
    background-color: lightgray;
}

#messageCard {
    border: solid 2px;
    font-family: 'David Libre', serif;
    background-color: rgb(18, 9, 18);
}

.messageInput {
    background-color: rgb(247, 146, 31);
}

#singleMessage {
    border: solid 1px;
    padding: 2em;
    margin: 1em;
    background-color: white;
}

#taskCard {
    background-color:rgb(177, 70, 35);
}

.contentCard {
    align-content: center;
}

.eventCardList {
    background-color: white;
    padding: 1em;
    border-top: solid white 1px;
    margin: 1em;
}

#eventList {
    background-color:  rgb(96, 39, 72);
}

body {
    font-family: 'David Libre', serif;
    background-color: lightgray;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }


input, textarea {
    width: 100%;
}

input {
    border: 2px solid green;
}

#messageFormBox {
    padding: 1em;
}

#articleformbox {
    padding: 1em;
    border: solid 1px;
}

#eventformbox {
    padding: 1em;
}

#taskForm {
    padding: 1em;
}

.taskPost {
    padding: 1em;
    border-bottom: solid; 
}

a {
    color: purple;
}

a:hover {
    color: green;
}

.theCheckbox {
    float: right;
    width: 2em;
}

aside {
    float: right; 
    width: 30%
}

#article--form {
    background-color: rgb(96, 39, 72);
}

#taskList {
    opacity: 80%;
}

h2 {
    margin: 2px;
    padding: 2px;
    color: white
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(7, 3, 3);
    color: white;
    text-align: center;
}