#article--list {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.article-box {
    border: solid 3px black;
    min-width: 25em;
    max-width: 25em;
    max-height: 15em;
    min-height: 15em;
    margin: 0.5em;
    align-self: center;
    border-radius: 8px;
}

#eventCard {
    display: flex;
    flex-direction: column-reverse;
}

.eventCardList {
    padding: -1em;
    margin-top: -1em;
}